.comment-input-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-textarea {
  margin-left: 50px;
  min-height: 80px;
  border: 1px solid var(--color-input-border);
  border-radius: 8px;

  font-family: "Quicksand", "Open Sans", sans-serif;
  font-size: 16px;
  resize: none;
  background-color: var(--color-input-bg);
  color: var(--color-text);
}

.comment-textarea:focus {
  outline: none;
  border-color: var(--color-button);
  box-shadow: 0 0 0 2px rgba(184, 147, 95, 0.2);
}

.comment-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-options {
  margin-left: 50px;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 8px;
}

.comment-option-button {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid var(--color-border);
  background-color: transparent;
  color: var(--color-text-dark);
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s;
}

.comment-option-button:hover {
  background-color: rgba(184, 147, 95, 0.1);
  border-color: var(--color-button);
}

.comment-button {
  background-color: var(--color-button);
  color: white;
  padding: 8px 20px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.comment-button:hover {
  background-color: var(--color-button-hover);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
